* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    height: 80px;
}

li {
    list-style: none;
    font-size: 24px;
    font-weight: 700;
    display: inline;
}

.purple {
    color: rgb(111, 31, 187);
}

/*

Nav Bar

*/

.row {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 0;
}

.button__link--container {
    display: flex;
    align-items: center;
    margin-left: 30%;
}

.logo {
    width: 160px;
    margin-left: 15px;
}

.nav__links {
    list-style: none;


}

.nav__link {
    text-decoration: none;
    margin: 0 10px;

}

.btn__menu {
    font-size: 24px;
}

.btn__login:hover {
    cursor: pointer;
    color: rgb(80, 80, 80);
}

.btn__login {
    border: none;
    background: #fff;
    font-weight: 700;
    margin-left: 30px;

}

.btn__primary:hover {
    cursor: pointer;
    background-color: rgba(111, 31, 187, 80%);
    color: rgb(197, 185, 185);
}

.btn__primary {
    width: 200px;
    height: 64px;
    background-color: rgb(111, 31, 187);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
}


/* 

LANDING PAGE

*/
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;

}

.first__box {
    width: 40%;
}

.first__box h1 {
    font-size: 60px;
    margin-left: 30px;
    margin-top: 30px;
}

.first__box p {
    font-size: 32px;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.first__box img {
    max-width: 100%;
    margin-left: 30px;
    margin-top: 50px;

}


.second__box {
    width: 60%;

}

.second__box img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}

.gQkmRz {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 28rem;
    text-align: center;
}

.gQkmRz input {
    width: 100%;
    border-radius: 9999px;
    border-width: 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-weight: 500;
    font-size: 24px;
}

.gQkmRz button {
    position: absolute;
    transform: translate(-105%, 15%);
    border-radius: 9999px;
    width: 40%;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(111, 31, 187);
    color: #fff;
    border: none;
}

.gQkmRz button:hover {
    background-color: rgba(111, 31, 187, 80%);
    color: rgb(190, 183, 183);
}

/*

Features

*/

.features {
    padding-top: 200px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.purp {
    text-align: center;
    font-size: 36px;
    font-weight: 600;

}

.features h1 {
    text-align: center;
    font-size: 80px;
}

.features p {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
}

/*

Services

*/

.containers {
    padding: 80px 0;
}

.services {
    display: flex;
    flex-wrap: wrap;

}

.service {
    display: flex;
    width: calc(100% / 3);

}

.serivce__description {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.services h1 {
    font-size: 36px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 80px;
    color: rgb(33, 33, 85);
}

.services p {
    font-size: 24px;
    text-align: left;
    margin-left: 20px;
    color: rgb(80, 80, 80);
    line-height: 1.5;
}

.service__img--circle {
    width: 40%;
    transform: translate(70%, 75%);

}

.small__img--container {
    margin-top: 80px;
    width: 100px;
    height: 80px;
    border: solid rgba(180, 179, 179, 0.651) 1px;
    border-radius: 50%;
    display: inline-block;
}

/*

QUALITY WORK

*/


.contain {
    display: flex;
    margin-top: 120px;
}

.left__box {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left__box span {
    font-weight: 700;
    text-align: left;
    margin-bottom: 25px;
}

.left__box h1 {
    font-size: 60px;
    color: rgb(33, 33, 85);
    font-weight: 900;
    margin-bottom: 25px;
}

.left__box .edit {
    font-weight: 1000;
}

.left__box p {
    font-size: 32px;
    margin-bottom: 25px;
    line-height: 1.5;
}

.left__box button {
    width: 200px;
    height: 64px;
    background-color: rgb(111, 31, 187);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    margin-top: 25px;
}


.right__box {
    width: 50%;
    height: 100%;
    padding-top: 100px;
    
}

.right__box img {
    width: 100%;
}

/*

EASY TO GET STARTED

*/

.computer__img {
    width: 50%;
}

.ordered__steps {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.ordered__steps h1 {
    font-size: 64px;
    text-align: left;
    margin-bottom: 50px;

}

.purpl {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}

.step__container {
    display: flex;
    flex-wrap: wrap;

}

.step__container--sub {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    margin-left: 36px;
}

.step__container--sub p {
    font-size: 24px;
    color: rgb(80, 80, 80);
    line-height: 1.5;
}

.number {
    color: rgba(80, 80, 80, 0.281);
    font-size: 52px;
}

.sub__title {
    font-size: 36px;
    color: rgba(41, 41, 90, 0.952);
    margin-bottom: 20px;
}

/*

Principles

*/

.wrapper {
    display: flex; 
}

.splitter {
    width: 50%;
}

.chart__img {
    width: 50%;
    padding-top: 200px;
}

.chart__img img{
    width: 100%;
    height: auto;
}

.affordable__professional--wrapper {
    display: flex;
}

.affordable {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: center;
}

.affordable h2{
    font-size: 30px;
    color: rgb(33, 33, 85);
    margin-left: 20px;
}

.affordable p{
    font-size: 24px;
    color: rgb(80, 80, 80);
    margin-bottom: 25px;
    margin-top: 50px;
    margin-right: 25px;
    line-height: 1.5;
}

.professionalism {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
}

.professionalism h2{
    margin-left: 20px;
    font-size: 30px;
    color: rgb(33, 33, 85);
}

.professionalism p {
    font-size: 24px;
    color: rgb(80, 80, 80);
    margin-top: 50px;
    margin-left: 25px;
    line-height: 1.5;
    
}


.principles__wrapper h1{
    font-size: 60px;
    color: rgb(33, 33, 85);
    font-weight: 900;
    margin-bottom: 25px;
    margin-top: 25px;
}

.principles__wrapper p{
    font-size: 30px;
    color: rgb(80, 80, 80);
    line-height: 1.5;
}

.feather-dollar-sign{
    color: rgb(39 103 73);
    background-color: rgb(154 230 180);
    height: 2rem;
    width: 2rem;
    transform: translate(25%,25%);
}

.qert{
    height: 3rem;
    width: 3rem;
    border-radius: 9999px;
    background-color: rgb(154 230 180);
}



.feather-briefcase{
    color:  rgb(155 44 44);
    background-color:  rgb(254 178 178);
    height: 2rem;
    width: 2rem;
    transform: translate(25%,25%);
}

.wert{
    height: 3rem;
    width: 3rem;
    border-radius: 9999px;
    background-color:  rgb(254 178 178); 
}

.btn__lrnmre{
    width: 200px;
    height: 64px;
    background-color: rgb(111, 31, 187);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    margin-top: 25px;
}

/*

Plans

*/

.plans{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.plan {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
}

.dark{
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pricing__wrapper{
    margin-bottom: 36px;
}

.pricing__wrapper h1{
    font-size: 60px;
    color: rgb(33, 33, 85);
    text-align: center;
    margin-bottom: 20px;

}

.pricing__wrapper p{
    font-size: 24px;
    color: rgb(80, 80, 80);
    text-align: center;
    margin-bottom: 20px;
    
}

.Price{
    font-size: 56px;
    margin: 20px 0;
}

.monthly{
    font-size: 24px;
    margin: 20px 0;
}

.title{
    font-size: 24px;
    margin-top: 20px;
}

.plan__one{
    background-color: #fff;
}

.plan__two{
    background-color: rgba(100, 21, 255, 0.856);
    color: rgb(247 250 252);
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub__plan--unique{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 3px rgb(102 126 234);
    border-bottom: solid 3px rgb(102, 126, 234);
}

.sub__plan--unique h2{
    font-size: 32px;
    margin: 40px 50px;
}

.sub__plan--unique p {
    font-size: 24px;
    color: rgb(226 232 240);
    line-height: 1.5;
    margin-bottom: 25px;
}

.special__button{
    width: 60%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 9999px;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 25px 0;
    color: rgb(111, 31, 187);
    font-weight: 700;
    font-size: 20px;
}


